/*详情页的样式文件*/

.de_container {
	margin-top: 20px;
}
.crumb_wrap {
	height: 25px;
}
.crumb_wrap a {
	margin-right: 10px;
}
.preview_wrap {
	width: 400px;
	height: 590px;
	
}
.itemInfo_wrap {
	width: 718px;
	margin-bottom: 30px;
	/*background-color: orange;*/
}
.preview_img {
	height: 398px;
	border: 1px solid #ccc;
}
.preview_list {
	position: relative;
	height: 60px;
	
	margin-top: 60px;
}
.list-item {
	width: 320px;
	height: 60px;
	margin: 0 auto;
}
.list-item li {
	float: left;
	width: 56px;
	height: 56px;
	border: 2px solid transparent;
	margin: 0 2px;
}
.list-item li.current {
	background-color: #c81623;
}
.arrow_prev,
.arrow_next {
	position: absolute;
	top: 15px;
	width: 22px;
	height: 32px;
	background: url(../img/arrow-prev.png) no-repeat;
}
.arrow_prev {
	left: 0;
}
.arrow_next {
	right: 0;
	background: url(../img/arrow-next.png) no-repeat;
}
.preview_end {
	margin-top:60px;
	margin-bottom: 30px;
}
.preview_end span {
	margin-right: 35px;

}
.sku_name {
	/*高度剩余法，子的高度远小于高，
	/*而且字是默认贴着上边框，剩下的就成了下边框一样的效果/*/
	height: 30px;
	font-size: 16px;
	font-weight: 700;
}
.news {
	height: 32px;
	color: #e12228; 
}
.summary dl {
	/*清除dl,dt浮动引起的问题*/
	overflow: hidden;
}
.summary dt,
.summary dd {
	float: left;
}
.summary dt {
	width: 60px;
	padding-left: 10px;
	/*56-20,总高56里面有20的上下padding*/
	line-height: 36px;
}
.summary_price，
.summary_promotion {
	position: relative;
	padding: 10px 0;
	background-color: #fee9eb;
}
.price {
	font-size: 24px;
	color: #e12228;
}
.summary_price a {
	color: #c81623;
}
.remark {
	/*评价想要靠右边对齐，用浮动是没有用的，
	因为remark盒子没有宽度，宽度显示是内容的宽度，
	，只有通过子绝父相才行*/
	position: absolute;
	right: 10px;
	top: 20px;
}
.summary_promotion {
	padding-top: 0;
}
.summary_promotion dd {
	width: 450px;
	line-height: 36px;
}
.summary_promotion em {
	display: inline-block;
	width: 40px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background-color: #c81623;
	color: #fff;
} 
.summary_support dd {
	line-height: 36px;
}
.summary_stock i {
	margin-left: 20px;
	font-family: 'icomoon';

}
.summary_stock dd {
	width: 360px;
	line-height: 36px;
}
.choose_color a {
	display: inline-block;

	width: 80px;
	height: 41px;
	line-height: 41px;
	background-color: #f7f7f7;
	border: 1px solid #ededed;
	text-align: center;
}
.choose_color a.current {
	border-color: #c81623;
}
.choose_version,
.choose_type,
.choose_buy,
.choose_box {
	margin: 10px 0;
}
.choose_version a,
.choose_type a,
.choose_buy a,
.choose_box a {
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	background-color: #f7f7f7;
	border: 1px solid #ededed;
	text-align: center;
	line-height: 32px;
}
.summary a.current {
	border-color: #c81623;
}
.choose_btns {
	margin-top: 20px;
	
}
.choose_amount {
	position: relative;
	float: left;
	width: 50px;
	height: 46px;
	/*background-color: pink;*/
}
.choose_amount input {
	width: 33px;
	height: 44px;
	border: 1px solid #ccc;
	text-align: center;
}
.add,
.reduce {
	position: absolute;
	width: 15px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	text-align: center;
}
.add {
	top: 0;
	right: 0;
}
.reduce {
	right: 0;
	bottom: 0;
	cursor: not-allowed;
}
.addshopcar {
	float: left;
	width: 142px;
	height: 46px;
	background-color: #c81623;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
	font-weight: 700;
}

.aside {
	float: left;
	width: 208px;
	border: 1px solid #ccc;
	/*等一下删除*/
	/*height: 1000px;*/
}
.tab_list {
	height: 34px;
	/*background-color: pink;*/
}
/*把背景颜色 底边框都给li*/
.tab_list li {
	float: left;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	height: 33px;
	line-height: 32px;
	text-align: center;
}
/*鼠标单击li，背景变白色 文字变颜色*/
.tab_list .current {
	background-color: #fff;
	border-bottom: 0;
	color: red;
}
.first_tab {
	width: 104px;
}
.second_tab {
	width: 103px;
	border-left: 1px solid #ccc;
}
.tab_con,
.item {
	margin: 0 10px;
}
.tab_con li {
	float: left;
	width: 93px;
	height: 27px;
	border-bottom: 1px dashed #ccc;
	line-height: 27px;
	text-align: center;
}
.tab_con  .bottom_no {
	border-bottom: 0;
	padding-bottom: 10px;
}
.tab_con .bottom_dashed {
	width: 186px;
}
.item li {
	border-bottom: 1px solid #ccc;
	
}
.item li h5 {
	/*超出的文字省略号显示*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}
.aside_price {
	font-weight: bold;
}
.aside_addcar {
	display: block;
	width: 88px;
	height: 26px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	margin: 10px auto;
	text-align: center;
	line-height: 26px;
}
.detail {
	float: right;
	width: 978px;
	/*border: 1px solid #ccc;*/
	/*等一下删除*/
	/*height: 1000px;*/
}
.product_detail {
	/*里面的aside,detail小盒子都是浮动，会影响后面的布局，
	必须要清除浮动*/
	overflow: hidden;
	margin-bottom: 50px;
}
.detail_tab_list {
	height: 39px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
.detail_tab_list li {
	float: left;
	height: 39px;
	line-height: 39px;
	text-align: center;
	padding: 0 20px;
	cursor: pointer;

}
.detail_tab_list .current {
	background-color: #c81623;
	color: #fff;
}
.ditem_info {
	padding: 20px 0 0 20px;
}
.ditem_info li {
	line-height: 22px;
}
.more {
	float: right;
	font-weight: 700;
	font-family: 'icomoon';
}